html{
	background-color: #3B4252;
	color: #ECEFF4;
}
.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.project-bar {
	margin-top: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.project {
	padding: 10px;
	border: 2px solid white;
	border-radius: 35px;
}
